/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  font-family: Verdana;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#518787;
  --col-02:#faebd7;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#034d4d;
  --col-06:#f4dd5e;
  --col-07:#7ebaba;
  --border: 1px solid var(--col-02);
  --border-02: .5rem groove var(--col-06);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-07);
  color: var(--col-02);
  padding: 2vw;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
}

.FilterSection{
background-image: linear-gradient(90deg, var(--col-05), var(--col-07));
}

.FilterBox{
}

.FilterButton{
  background-color: var(--col-04);
  border-radius: 1rem;
  border-style: double;
  border-color: var(--col-02);
  color: var(--col-05);
}

.FilterButton:hover{
  background-color: var(--col-06);
  opacity: 0.7;
}

/* 
  this class will be applied to the last filter button clicked - remember because it's below .FilterButton it will overwrite
  any duplicate properties
*/
.SelectedFilter{
  background-color: var(--col-06);
}

.RecipeLink{

}

.RecipeName{
  color: var(--col-04);
  text-shadow: 0rem 0rem 1rem var(--col-05);
  background-image: linear-gradient(90deg, var(--col-07), var(--col-05), var(--col-07));
  text-align: center;
}

.Author{

}

.RecipeImageContainer{

}

.RecipeImg{
border: var(--border-02);
border-radius: 5rem;
}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{
  text-decoration: underline;
}

p {
  font-size: xx-small;
  padding-bottom: 1rem;
}

div {
  color: var(--col-02);
  text-shadow: 0rem 0rem 1rem var(--col-05);
}

summary {
  color: var(--col-02);
}

h1 {
  color: var(--col-02);
  text-shadow: 0rem 0rem 1rem var(--col-05);
}