*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#bcbdbc;
  --col-06:#6f6f6f;
  --col-07:#ceeaab;
  --col-08:#99cce9;
  --col-09:#167f7d;
  --col-10:#0b4645;
  --col-11:#ffd700;
  --col-12:#176665;
  --border: 1px solid var(--col-02);
  --border2: .4rem dashed var(--col-09);
}

body {
  background-color: var(--col-07);
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  /* indicate that pressing the video itself also results in an action: playing/pausing the video */
  cursor: pointer;
  border: var(--border2);
}

p {
  text-align: center;
  padding-top: 5rem;
}

/* becuase I want to overlay the play icon on the video they need to be in their own wrapper */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  pointer-events: none;
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}
/* this overwrites the above display:flex - something which is then undone when the JS loads */
#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
  background-color: var(--col-10);
}

#licenseButton {
  line-height: 2.5rem;
  border: .25rem groove var(--col-04);
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--col-12);
  color: var(--col-07);
  font-size: 1rem;
}

.video-control-button:hover, #licenseButton:hover{
  background-color: var(--col-09);
  transition: background-color 500ms ;
}
.video-control-button:active, #licenseButton:active{
  background-color: var(--col-11);
  transition: background-color 10ms;
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
}

#muteButton{
  background-image: url('./icons/mute.svg');
}

#fullScreenButton{
  background-image: url('./icons/fullScreen.svg');
  /* animation: fullScreenAnimation 2s ease-in-out infinite; */
}

#fullScreenIcon {
  animation: fullScreenAnimation 2s ease-in-out infinite;
  /* scale: 50%;
  transform: scale(50%); */
}

#license {
  display: none;
}

@keyframes fullScreenAnimation {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}

.video-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-moz-progress-bar {
  background-color: var(--col-01);
}

::-webkit-progress-bar {
  background-color: var(--col-10);
}

.video-progress-bar:hover::-webkit-progress-bar {
  background-color: var(--col-12);
  transition: background-color 500ms;
}

::-webkit-progress-value {
  background-color: var(--col-09);
}

.video-progress-bar:hover::-webkit-progress-value {
  background-color: var(--col-11);
  transition: background-color 500ms;
}

::-webkit-progress-value:active {
  background-color: var(--col-11);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}