*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#bcbdbc;
  --col-06:#6f6f6f;
  --col-07:#ceeaab;
  --col-08:#99cce9;
  --col-09:#167f7d;
  --col-10:#0b4645;
  --col-11:#ffd700;
  --col-12:#176665;
  --border: 1px solid var(--col-02);
  --border2: .4rem dashed var(--col-09);
}

body {
  background-color: var(--col-07);
  /* create a pattern of the scissors icon */
  background-image: url('./icons/scissors.svg');
  background-size: 20%;
  background-position: 45% 10%;
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  /* indicate that pressing the video itself also results in an action: playing/pausing the video */
  cursor: pointer;
  /* a playful border that matches the style of a crafting tutorial */
  border: var(--border2);
}

p {
  text-align: center;
  padding-top: 5rem;
}

/* becuase I want to overlay the play icon on the video they need to be in their own wrapper */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  pointer-events: none;
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}
/* this overwrites the above display:flex - something which is then undone when the JS loads */
#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
  background-color: var(--col-10);
  /* do not repeat the svg's in a pattern: just one icon for the button */
  background-repeat: no-repeat;
}

/* the button to show / hide licenses */
#licenseButton {
  line-height: 2.5rem;
  border: .25rem groove var(--col-04);
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--col-12);
  color: var(--col-07);
  font-size: 1rem;
}

/* increase usability by adding feedback to hovering over the buttons */
.video-control-button:hover, #licenseButton:hover{
  background-color: var(--col-09);
  transition: background-color 500ms ;
}

/* increase usability by adding feedback to activating the buttons */
.video-control-button:active, #licenseButton:active{
  background-color: var(--col-11);
  transition: background-color 10ms;
}
.button-icon{
  pointer-events: none;
}

#playButton {
  background-image: url('./icons/play.svg');
  /* reduce size to allow for animation */
  background-position: center;
  background-size: 85%;
}

#playButton:hover{
  /* an animation of the arrow moving to the right to indicate playing the video */
  animation: playAnimation 2s ease-in-out infinite;
}

#muteButton{
  background-image: url('./icons/mute.svg');
  /* reduce size to allow for animation */
  background-position: 50% 75%;
  background-size: 85%;
}

#muteButton:hover{
  /* I merged 'mute.svg' and 'unmute.svg' to create 'muteUnmute.svg' */
  /* the animation indicates that pressing the button will result in muting the video */
  animation: muteAnimation 500ms ease-in-out;
  /* fill-mode: forwards will make sure the animation will stop on the last frame, holding the muteUnmute icon rather than returning to the mute icon */
  animation-fill-mode: forwards;
}

/* reset the transition time on active to overrride the 500ms transition when hovering */
#muteButton:active{
  transition: 10ms;
}

#fullScreenButton{
  background-image: url('./icons/fullScreen.svg');
  /* reduce size to allow for animation */
  background-position: center;
  background-size: 85%;
}

#fullScreenButton:hover{
  /* an animation of the icon getting bigger to indicate toggling fullscreen */
  animation: fullScreenAnimation 2s ease-in-out infinite;
}

#license {
  /* hide license initially */
  display: none;
}

/* the play button's animation */
@keyframes playAnimation {
  0% {
    background-position: center;
  }
  33% {
    background-position: right;
  }
  66% {
    background-position: right;
  }
  100% {
    background-position: center;
  }
}

/* the fullscreen button's animation */
@keyframes fullScreenAnimation {
  0% {
    background-size: 85%;
  }
  25% {
    background-size: 100%;
  }
  75% {
    background-size: 100%;
  }
  100% {
    background-size: 85%;
  }
}

/* the mute button's animation */
@keyframes muteAnimation {
  0% {
    background-image: url('./icons/mute.svg');
  }
  100% {
    background-image: url('./icons/muteUnmute.svg');
  }
}

.video-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-moz-progress-bar {
  background-color: var(--col-01);
}

::-webkit-progress-bar {
  background-color: var(--col-10);
}

/* initiate changes in the progress bar when hovering anywhere on the bar */
.video-progress-bar:hover::-webkit-progress-bar {
  background-color: var(--col-12);
  transition: background-color 500ms;
}

::-webkit-progress-value {
  background-color: var(--col-09);
}

/* initiate changes in the progress value when hovering anywhere on the bar */
.video-progress-bar:hover::-webkit-progress-value {
  background-color: var(--col-11);
  transition: background-color 500ms;
}

/* provide feedback when scrubbing through the progress bar */
::-webkit-progress-value:active {
  background-color: var(--col-11);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}